body {
    padding: 0;
    overflow: hidden;
   font-family: 'Josefin Sans', sans-serif;
}

#time-window {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 0 5px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

.navbar-header {
  width:100%

}

.header {
  font-family: 'Josefin Sans', sans-serif;

  font-size:30px;
  text-align:center;
  color:#404241;
  margin-bottom:-1px;
}
.header2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:100;
  font-size:30px;
  text-align:center;
  color:#404241;
  margin-bottom:-1px;
}

#subheader {
  color: #B2180C;
  margin-top: 0px;
}

.btn-primary {
    color: #555;
    background-color: rgba(255,255,255,0);
    border-color: #8C9190;
    width: 100%;
    padding:15px;
    margin-top:5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #555;
    background-color: #E0E0E0;
    border-color: #FFFFFF;
    width: 100%;
    padding:15px;
    margin-top:5px;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);

}

.input-group{
  padding-top: 60px;
  width:100%
}


.btn-group-justified {
margin-top:5px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
}

.btn-group-justified>.btn-group .btn {
    width: 100%;
    background-color: rgba(153, 153, 153, 0.88);
    color: white;

}

.MainText {
padding-top: 180px;;
align-content: center;
text-align:center;

}

.latLngDiv {
  width:100%;
  text-align:center;

}

#lat {
  color:lightgrey;
}

#lng {
  color:lightgrey;
}

p {
  color:grey;
  text-align:center;
}

#buttonT {
  color:#fff;
  padding:5px;

}

.link{
  color:white;
  font-size: 14px;
}

#sideText{

  text-align: left;
}

.legend {
  height: 20px;
  width : 100px;
  background-color: rgba(153, 153, 153, 0.88);
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom:3px;

}

#Prim {
  background-color: rgb(233, 180, 175);
  color: white;
}

#Secon{
  background-color: rgb(244, 235, 230);
  color: white;


}
